.explore-main {

  /* UI Properties */
  background: var(--unnamed-color-f5f5f5) 0% 0% no-repeat padding-box;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 520px;
  justify-content: center;
  left: -1px;
  opacity: 1;
  text-align: center;

  /* Layout Properties */
  top: 0;
  width: 362px;
}

.explore-btn-1 {

  /* UI Properties */
  background: #ee4028 0% 0% no-repeat padding-box;
  border-radius: 7px;
  box-shadow: 0 5px 10px #00000047;
  color: white;
  font-size: 25px;
  font-style: bold;
  height: 57px;
  left: 32px;
  opacity: 1;

  /* Layout Properties */
  top: 220px;
  width: 297px;
}

.explore-btn-2 {

  /* UI Properties */
  background: #ee4028 0% 0% no-repeat padding-box;
  border-radius: 7px;
  box-shadow: 0 5px 10px #00000047;
  color: white;
  font-size: 25px;
  font-style: bold;
  height: 57px;
  left: 32px;
  margin-top: 10px;
  opacity: 1;

  /* Layout Properties */
  top: 307px;
  width: 297px;
}
