.foods_container {

  /* UI Properties */
  background: whitesmoke 0% 0% no-repeat padding-box;
  font-family: 'Quicksand' , sans-serif;
  height: 650px;
  opacity: 1;
  width: 360px;
}

.button_foods {
  background: #ee4028 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 6px #262d2f69;
  color: white;
  font-family: 'Quicksand' , sans-serif;
  font-weight: 600;
  height: 28px;
  opacity: 1;
  width: 100px;
}


.foods_buttons {

  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  height: 85px;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-top: 30px;

  /* UI Properties */
  opacity: 01;
  width: 350px;
}

.foodcard_container {
  display: flex;
  flex-wrap: wrap;
  height: 340px;
  margin-left: -1.5px;
  margin-top: 25px;
  opacity: 1;

  /* overflow-y: scroll; */

  /* overflow-x: hidden; */
  overflow-y: scroll;

  /* overflow-y: hidden; */
  width: 358px;
}

.food__footer {
  margin-top: 50px;
}

/* @media ( min-width : 360px ) {

  .food_card {
    width: 160px;
  }

  .card_principal img {
    border-radius: 6px;
    height: 115px;
    opacity: 1;
    width: 130px;

  }
} */


.foodcard_container::-webkit-scrollbar {
  display: none;
}
