.nationalities__filter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nationalities__filter select {
  border-radius: 5px;
  color: red;
  margin-top: 10px;
  width: 80%;
}

.nationalities__card {

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 485px;
  overflow-x: scroll; */
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  margin-left: -1.5px;
  margin-top: 25px;
  opacity: 1;

  /* overflow-y: scroll; */

  /* overflow-x: hidden; */
  overflow-y: scroll;

  /* overflow-y: hidden; */
  width: 358px;

}
