.profile__container {
  display: flex;
  height: 490px;
}

.profile_page_button {
  align-items: center;
  background-color: #ee4028;
  border-radius: 5px;
  box-shadow: 0 5px 10px #00000063;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  font: normal normal medium 33px/41px Quicksand;
  font-family: 'Quicksand' , sans-serif;
  height: 60px;
  justify-content: center;
  letter-spacing: 1.98px;
  margin-left: 15px;
  margin-top: 20px;
  opacity: 1;

  /* padding: 10px; */
  text-align: center;
  width: 100px ! important;
}

.profile__email {
  font-size: 15px;
  margin: 10px;
}
