.progressFoods__container {
  background: #ded7d7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin: 10px;
  opacity: 1;
  padding: 5px;
}

.progressFoods__container label {
  width: 100%;
}

.progressFoods__container label input {
  margin-left: 10px;
}

.progressFoods__start__button {
  background: #ee4028 0% 0% no-repeat padding-box;
  border-radius: 7px;
  box-shadow: 0 5px 10px #0000005e;
  color: #f5f5f5;
  font: normal normal medium 30px/38px Quicksand;
  font-size: 30px;
  height: 57px;
  letter-spacing: 1.8px;
  opacity: 1;
  width: 297px;
}

.progressFoods__start__button:disabled {
  background: #ded7d7 0% 0% no-repeat padding-box;

}

